<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="header">
<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	
		
	

	<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
	
	<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutform">
		    		<input type="submit"/>
		</form>
    <div class="container-fluid">
    	
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">Home</a>
                </li>

            </ul>
            
            
            
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">Shop</a>
                </li>

            </ul>
            
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/category}" sec:authorize="hasAuthority('ADMIN')" href="#">Categories</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/allproducts}" sec:authorize="hasAuthority('ADMIN')" href="#">Products</a>
                </li>

            </ul>
            
             <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/login}" href="#">LogIn</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/signin}" href="#">Sign In</a>
                </li>

            </ul>
            
            
            <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" id="LogoutLink" href="#">Logout</a>
                </li>

            </ul>
            
            <ul class="navbar-nav">
            	<li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="#">cart</a>
                </li>
                <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}">0</span>
                </li>
              </ul>
            
          <!--   <ul class="navbar-nav">
                <li class="nav-item dropdown">
	            	<a class="nav-link dropdown-toggle" data-toggle="dropdown" sec:authentication="principal.getUsername"></a>
	            	<div class="dropdown-menu">
	            		<a class="dropdown-item" href="">Logout</a>
	            	</div>
            	</li>
            	
            
            </ul> -->
     
                        	
            
            
            

        </div>
        
    </div>
</nav>
<script type="text/javascript">
	$(document).ready(function() {
		$("#LogoutLink").on("click", function(e) {
				e.preventDefault();
				document.logoutform.submit();
	
		});
	});
</script>
</body>
</html>