<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<title>Insert title here</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">shop</a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Sign Up</a>
                </li> -->

            </ul>

        </div>
    </div>
</nav>


	<!-- <div class="container-fluid text-center">
	
		<form th:action="@{/login/new}" method="post" style="max-width: 350px; margin: 0 auto">
		
			<div class="border border-secondary rounded p-3">
			
				<p>
					<input type="email" name="email" class="form-control" placeholder="E-mail" required />
				</p>
				<p>
					<input type="password" name="password" class="form-control" placeholder="Password" required />
				</p>
				<p>
					<input type="submit" value="Login" class="btn btn-primary" />
				</p>
			
			
			</div>
		</form>
	</div>
 -->
 
 <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Login</h2>
            <p>Please fill out this to login</p>
            <form th:action="@{/login}" method="post">
            
            	<div th:if="${param.error}" class="alert alert-error text-danger">
            		<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                    Invalid username or password.
                </div>
                <div th:if="${param.logout}" class="alert alert-error text-danger">
                    You have been logged out
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Your Email" class="form-control form-control-lg">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control form-control-lg" placeholder="Password" name="password" id="password">
                </div>
                
                

                <input type="submit" value="Login" class="btn btn-primary btn-block">
               
            </form>
            <br>

        </div>

    </div>
 </div>
</body>
</html>