<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <title>Document</title>
</head>
<body>
<div th:replace="header">
	
</div>
<div class="container-fluid">

    <a th:href="@{/product/add}" style="margin: 20px 0" class="btn btn-primary">Add Product</a>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Preview</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product, iStat : ${products}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${product.name}">Larry</td>
            <td th:text="${product.category.name}">Larry</td>
            <td><img src="../static/images" height="100px" width="100px"  th:src="@{/images}"></td>

            <td><a href="" th:href="@{product/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a></td>
            <td><a href="" th:href="@{product/update/{id}(id=${product.id})}" class="btn btn-warning">Update</a></td>
            

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>